
@{
    ViewBag.Title = "CartEnd";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<h2 style="text-align:center">Thank You For Using Our Services </h2>
<h2 style="text-align:center">@Html.ActionLink("Lets More Shopping","Index","Home", new  { }, new  {@class="form-control" })</h2>


